extends layout

block content
  div#main(data-role='page')
    include nav
    div(data-role='content')
      a(href='#nav', data-role="button", data-icon="home", data-iconpos="notext")
      div#main-container
