div#nav(data-role='panel' data-display="reveal")
	ul(data-role='listview', data-theme="a", data-divider-theme="a")
		li(class="ui-bar-a", data-role='list-divider')
			h1 My Wallet
			p Rj Bernaldo
		li(class="ui-bar-a", data-icon="home")
			a#btn-home(href='#', data-transition="none", data-rel="close") Home
		li(class="ui-bar-a", data-icon="star")
			a#btn-history(href='#', data-transition="none", data-rel="close") History
		li(class="ui-bar-a", data-icon="info")
			a#btn-statistics(href='#', data-transition="none", data-rel="close") Statistics
		li(class="ui-bar-a", data-icon="gear")
			a#btn-settings(href='#', data-transition="none", data-rel="close") Settings
