#nav {
	background-color: black;
}

#home-container {
	height: 100%;
	width: 100%;
	margin-top: 40%;
}

#home-container_page {
	-webkit-box-align:center;
	-webkit-box-pack:center;
	display: -webkit-box;
	width: 100%;
}

#home-input, #home-input:hover, #home-input:focus, #home-input:active {
	background: transparent;
	border: 0;
	border-style: none;
	border-color: transparent;
	outline: none;
	outline-offset: 0;
	box-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	font-size: 3em;
	width: 100%;
	margin-bottom: 10px;
}

#home-input_button {
	width: 100%;
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
}.:hover {
	background-color:#dfdfdf;
}.:active {
	position:relative;
	top:1px;
}
